<!DOCTYPE html>
<html>

<head>
    <title>My first Vue page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flexbox-grid.css?version=0.1">
    <link rel="stylesheet" href="css/pink.css?version=0.1">
    <link rel="stylesheet" href="css/images.css?version=0.1">
    <link rel="stylesheet" href="css/shopping.css?version=0.1">
</head>

<body>

    <div id="app3">
  <form v-on:submit.prevent="addItem">
    <p>
      What do you need? <br>
      <input type="text" required placeholder="item name.." v-model="itemName">
    </p>
    <p>
      How many? <br>
      <input type="number" placeholder="number of items.." v-model="itemNumber">
    </p>
    <p>
      Important?
      <label>
        <input type="checkbox" v-model="itemImportant">
        {{ itemImportant }}
      </label>
    </p>
    <button type="submit">Add item</button>
  </form>
  <br>
  <hr>

  <div>
    <p><strong>Shopping list:</strong></p>
    <ul id="ulToFind">
      <li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="!item.found">
          {{ item.name }}, {{ item.number}}
      </li>
    </ul>
    <ul id="ulFound">
      <li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="item.found">
          {{ item.name }}, {{ item.number}}
      </li>
    </ul>
  </div>
</div>

    <div id="app2">
      <div>
        <figure v-for="x in manyFoods">
          <img v-bind:src="x.url">
          <figcaption>{{ x.name }}</figcaption>
        </figure>
      </div>
    
    <div id="app">
        <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.</div>
        {{ message }} <br>
        {{'Random number: ' + Math.ceil(Math.random()*6) }}
    </div>

    <header>
        <h1>MARIEL'S PERSONAL PROFILE WEB PAGE</h1>
        <div>
            <button onclick="location.hash='about-mes'">About Me</button>
            <button onclick="location.hash='course'">Course</button>
            <button onclick="location.hash='it-experience'">IT Experience</button>
            <button onclick="location.hash='hobbies-interests'">Hobbies & Interests</button>
            <button onclick="location.hash='goals-in-life-dream'">Goals in Life/Dream</button>
            <button onclick="location.hash='education-achievements'">Education/Achievements</button>
            <button onclick="location.hash='picture-gallery'">Picture Gallery</button>
        </div>
    </header>

    <div class="grid-small">
        <main>
            <section class="flexbox-small">
                <div id="about-mes">
                    <h2>ABOUT ME</h2>
                    <p>
                        Hello, world! Welcome to my personal profile web page! My name is Mariel A. Gravidez, and I am
                        currently a 19-year-old student. My pronouns are she/her.
                        Explore my journey through my education, achievements, course, IT experience, hobbies,
                        interests, and dreams. Don’t forget to check out my picture gallery!
                    </p>
                </div>

                <div id="course">
                    <h2>COURSE</h2>
                    <p>
                        I am a 2nd-year college student pursuing a Bachelor of Science in Information Technology who
                        aims to be proficient in different programming languages and excel in the tech industry.
                    </p>
                </div>

                <div id="it-experience">
                    <h2>IT EXPERIENCE</h2>
                    <p>
                        Before college, I gained experience in image manipulation and video editing. Now, I strive to be
                        a holistic IT student by joining organizations, participating in competitions, and learning
                        different programming languages.
                    </p>
                </div>

                <div id="hobbies-interests">
                    <h2>HOBBIES & INTERESTS</h2>
                    <p>
                        During my free time, I enjoy watching films and series. I consider myself a cat person because
                        cats pique my interest with their cute and cool characteristics.
                    </p>
                </div>

                <div id="goals-in-life-dream">
                    <h2>GOALS IN LIFE/DREAM</h2>
                    <p>
                        My personal goal in life is to achieve the greatest gratitude, not just for the material
                        possessions I have or the relationships I've built, but especially for myself.
                    </p>
                </div>
            </section>
        </main>
    </div>

    <div class="grid-big">
        <main>
            <section class="flexbox-big">
                <div id="education-achievements">
                    <h2>EDUCATION/ACHIEVEMENTS</h2>
                    <table>
                        <tr>
                            <th>Educational Stage</th>
                            <th>Level</th>
                            <th>School</th>
                            <th>Year</th>
                            <th>Honors Received</th>
                        </tr>
                        <tr>
                            <td>Elementary</td>
                            <td>Grades 1-6</td>
                            <td>Espiritu Santo Parochial School of Manila, Inc.</td>
                            <td>2011-2017</td>
                            <td>With Honors</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Junior High School</td>
                            <td>Grade 7</td>
                            <td>Espiritu Santo Parochial School of Manila, Inc.</td>
                            <td>2017-2018</td>
                            <td>With Honors</td>
                        </tr>
                        <tr>
                            <td>Grades 8-10</td>
                            <td>Statefields School, Inc.</td>
                            <td>2018-2021</td>
                            <td>With Honors (Grades 8 & 9)</td>
                        </tr>
                        <tr>
                            <td>Senior High School</td>
                            <td>Grades 11-12</td>
                            <td>Statefields School, Inc.</td>
                            <td>2021-2023</td>
                            <td>With High Honors (Grade 11) & With Highest Honors and Conduct (Grade 12)</td>
                        </tr>
                        <tr>
                            <td>College</td>
                            <td>1st-2nd Year</td>
                            <td>Asia Pacific College</td>
                            <td>2023-Present</td>
                            <td>With Honors (1st Year)</td>
                        </tr>
                    </table>
                </div>

                <div id="picture-gallery">
                    <h2>PICTURE GALLERY</h2>
                    <img id="about-me"
                        src="https://raw.githubusercontent.com/magravidez/WEBPROG-Personal-Website/refs/heads/feature/css-flexbox/home/images/about-me.png"
                        alt="About Mariel">
                    <img id="dream-board"
                        src="https://raw.githubusercontent.com/magravidez/WEBPROG-Personal-Website/refs/heads/feature/css-flexbox/home/images/dream-board.jpg"
                        alt="Mariel's Dreams">
                </div>
            </section>
        </main>
    </div>

    <footer>
        <p>© 2024 Mariel A. Gravidez. All rights reserved.</p>
        <p>
            Let's connect on
            <a href="https://www.facebook.com/not.mrlgrvdzzzz" target="_blank">Facebook</a> and
            <a href="https://www.instagram.com/not.mrlgrvdzzzz" target="_blank">Instagram</a>!
        </p>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/images.js"></script>
    <script src="js/shopping.js"></script>

</body>

</html>
